<div class="card">
    <img class="card__image" width="300" heigh="300" alt="cat" src="https://picsum.photos/id/237/200/300">
    <p class="card__text">Text Text Text Text Text Text Text Text Text Text </p>
    </div>